html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(164, 164, 164);
}

.App {
  width: 210mm;
  margin: auto;
}

.input-section {
  width: 100%;
  background-color: rgb(235, 235, 235);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 18px 0px #000000;
}

.input-header {
  padding-top: 10px;
  margin: 0px;
}

.input-section input,
textarea {
  display: block;
  width: 100%;
  margin: 10px 0px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 16px 10px;
}
.input-section input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgb(164, 164, 164);
}

.sub-section {
  width: 100%;
  font-size: 12px;
}

.resume {
  width: 100%;
  min-height: 297mm;
  display: grid;
  grid-template: 12.5% 1fr / 75% 1fr;
  margin: 50px 0px;
  box-shadow: 0px 1px 18px 0px #000000;
  font-family: "Roboto", sans-serif;
}

.resume-header {
  background-color: #000072;
  grid-area: 1 / 1 / 2 / -1;
  padding: 20px 40px;
  color: white;
  display: flex;
  flex-direction: column;
}

.resume-main {
  background: white;
}

.resume-details {
  background-color: rgb(235, 235, 235);
  padding: 10px 20px;
}

.full-name {
  font-size: 50px;
  margin: 0px;
  font-weight: 300;
}

.title {
  font-size: 26px;
  margin: auto 0px;
  margin-left: 5px;
}

.resume-main {
  padding: 0px 40px;
}

.main-subsection {
  width: 100%;

  border-bottom: black 1px solid;
}

.experience-section {
  display: grid;
  height: 80px;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: 20px 0px;
  margin-top: 10px;
}
.main-subsection {
  color: #000072;
  font-size: 28px;
  margin-bottom: 10px;
  padding: 10px 0px;
  margin-top: 10px;
}

.experience-position {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 24px;
  font-weight: bolder;
}
.experience-company {
  grid-area: 2 / 1 / 3 / -1;
  font-size: 18px;
}

.experience-dates {
  grid-area: 1 / 3 / 2 / -1;
  font-size: 16px;
  justify-self: end;
}

.details-subheader {
  color: #000072;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}

.detail {
  margin: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0px;
  color: white;
  border-radius: 10px;
  outline: none;
  border: black solid 2px;
}

.delete-button {
  background: red;
}

.add-button {
  background: green;
}

textarea {
  padding: 10px;
  height: 75px;
}
